/target/
/bin/
.project
.classpath
archetype-resources*.iml
.settings
.settings/org.maven.ide.eclipse.prefs
.settings/org.eclipse.wst.*
.settings/org.eclipse.core.runtime.prefs
.settings/org.eclipse.m2e.*


.DS_Store

*.log
*.swp
._.git
~
.idea/*
dogs.iml
overlays/
